* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
}

.hero {
    width: 100%;
    height: 70%;
}

/* NAVBAR */  /* NAVBAR */  /* NAVBAR */  /* NAVBAR */

.navbar {
    width: 77%;
    height: 4.5%;
    margin: 20px auto;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 5px solid #0056D2;
    box-shadow: 0 3px 15px -8px rgba(1, 53, 168, 0.5);
    border-radius: 40px;
    padding: 16px 58px;
    z-index: 1000;
    animation: fadeInDown 1s ease-in-out forwards;
}

.idn-winners {
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
}

.blue {
    background: linear-gradient(to right, #0056D2, #588DF7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 200px #0056D2;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu ul li {
    position: relative;
    margin: 0 25px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: grey;
    padding: 10px 0;
    transition: color 0.3s, transform 0.3s;
    transform: scale(1.05);
}

.menu ul li a:hover,
.menu ul li a.active {
    color: #0056D2;
    transform: scale(1.05);
}

.menu ul li a::after {
    content: "";
    height: 2px;
    width: 0;
    background: #0056D2;
    color: #0056D2;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s ease-in-out;
}

.menu ul li a:hover::after,
.menu ul li a.active::after {
    width: 99%;
}

.btn-contact {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 7px 32px;
    background-color: #0056D2;
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 15px -10px rgba(1, 53, 168, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px -5px #0056D2;
}

/* HERO */  /* HERO */  /* HERO */   /* HERO */

.content {
    width: 85%;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 100px;
}

.text-title {
    width: 100%;
    height: 100%;
    display: inline;
    color: black;
    animation: fadeInRight 1s ease-in-out forwards;
}

.text-title h1 {
    font-size: 52px;
    margin-bottom: 30px;
}

.text-title p {
    width: 60%;
    margin-bottom: 65px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;

}

.image img {
    width: 100%;
}

.image {
    width: 45%;
    display: flex;
    justify-content: center;
    animation: fadeInLeft 1s ease-in-out forwards, pop 1.5s infinite alternate;
}

.btn-about {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #0056D2;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px -10px #0056D2;
    margin-right: 20px;
    transition: 0.3s;
}

.btn-about:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px -5px #0056D2;
}

.btn-read {
    text-decoration: none;
    padding: 9px 30px;
    border: 1px solid #0056D2;
    color: #0056D2;
    border-radius: 5px;
    box-shadow: 0 0 15px -10px #0056D2;
    transition: 0.3s;
}

.btn-read:hover {
    background-color: #0056D2;
    color: white;
}

.footer-hero {
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: fadeInUp 1s ease-in-out forwards;
}

.text-footer h1 {
    text-align: center;
    color: #0056D2;
    font-size: 28px;
    text-shadow: 0 0 1px #0136a853;
}

/* ABOUT */  /* ABOUT */  /* ABOUT */  /* ABOUT */

.aboutUs-content {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 230px;
    background-color: #0056D2;
}

.what-is {
    display: flex;
    align-items: center;
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.aboutUs-text {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    animation: fadeInLeft linear;
}

.aboutUs-logo {
    display: flex;
    align-items: center;
    margin: 0 200px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.aboutUs-logo img {
    width: 170px;
}

.Idn-Winners-Is {
    width: 330px;
    height: 250px;
    color: #fff;
    display: flex;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    font-family: "poppins";
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* COURSE */  /* COURSE */  /* COURSE */  /* COURSE */

.course {
    width: 100%;
    margin: 270px auto;
    background-image: url(Images/bg-course.png);
    background-size: 560px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/Images/bg-course.png);
    background-size: 35%;
    animation: fadeInUp 1s ease-in-out forwards;
}

.nav-course {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.personal-box {
    display: flex;
    align-items: center;
    border: #0056D2 solid 1px;
    color: #0056D2;
    border-radius: 50px;
    padding: 8px 25px;
    box-shadow: 0 0 15px -7px #0056D2;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.personal-box1 {
    display: flex;
    align-items: center;
    background-color: #0056D2;
    border-radius: 50px;
    padding: 8px 25px;
    box-shadow: 0 0 15px -7px #0056D2;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.personal-box h1,
.personal-box1 h1 {
    font-size: 18px;
}

.personal-box img,
.personal-box1 img {
    width: 25%;
    height: 25%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-box.active{
    background-color: #0056D2;
    color: white;
}

.personal-box1:hover {
    box-shadow: 0 0 20px -5px #0056D2;
}

.personal-box:hover {
    background-color: #0056D2;
    color: white;
}

.main-container {
    width: 100%;
    max-width: 1250px;
    margin: 60px auto;
    animation: fadeInUp 1s ease-in-out forwards;
}

.card-row1,
.card-row2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card1, .card2, .card3 {
    background-color: #0056D2;
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card1{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card2{
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card3{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px -5px #0056D2;
}

.card-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #d1e1ff;
}

.card-content h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #e6e6e6;
}

.card-rating {
    background-color: #ffffff;
    color: #0056D2;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
}

.popup-modal, .popup-modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content, .popup-content2 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0 0 20px -5px #0056D2;
    border: #0056D2 0.3px solid;
    animation: fadeInUp 0.5s ease-in-out, pop 1.5s infinite alternate;
    position: relative;
}

.popup-content h3, .popup-content2 h3{
    font-size: 18px;
    margin: 0 40px;
}

.popup-content p, .popup-content2 p{
    font-size: 13px;
    margin: 20px 50px;
    margin-bottom: 50px;
}

.popup-image, .popup-image2 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.close-btn, .close-btn2 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.popup-btn, .popup-btn2 {
    background-color: #0056D2;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.popup-btn:hover, .popup-btn2:hover {
    transform: translateX(-50%) translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 86, 210, 0.5);
}


.all-size {
    width: 100%;
    height: 60%;
    margin: 270px auto;
}

.default-size {
    width: 100%;
    height: 60%;
    margin: 270px auto;
}

.fadeInUp {
    animation: fadeInUp 0.5s ease-in-out forwards;
    opacity: 0; 
    visibility: hidden; 
}

.fadeOutDown {
    animation: fadeOutDown 0.5s ease-in-out forwards;
}

/* OUR TEAM */  /* OUR TEAM */  /* OUR TEAM */  /* OUR TEAM */

.ourteam {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 180px auto;
    animation: fadeInUp 1s ease-in-out forwards;
}

.ourteam::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 55%;
    background-color: #2d88f220;
    transform: translate(-50%, -50%) skewY(10deg);
    z-index: -1;
}

.ourteam h2 {
    font-size: 40px;
    margin-bottom: 100px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.dev-cards {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.dev-card1, .dev-card2, .dev-card3 {
    flex-direction: column;
    background: white;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #0056D2 0.3px solid;
    transition: 0.3s ease-in-out;
}

.dev-card1{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.dev-card2{
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.dev-card3{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.dev-card1:hover, .dev-card2:hover, .dev-card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px -5px #0056D2;
}

.dev-img {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto -70px;
    position: relative;
    top: -60px;
    box-shadow: 0 0 15px -7px #0056D2;
    overflow: hidden;
}

.rotate {
    transform: rotate(90deg);
}

.dev-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dev-card1 h3, .dev-card2 h3, .dev-card3 h3 {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
}

.dev-card1 p, .dev-card2 p, .dev-card3 p {
    font-size: 14px;
    color: #666;
    margin: 20px 0 25px;
    line-height: 1.5;
}

.dev-card1 h4, .dev-card2 h4, .dev-card3 h4 {
    font-size: 1em;
    color: #0056D2;
    font-weight: normal;
}

/* BOOTCAMP */  /* BOOTCAMP */  /* BOOTCAMP */  /* BOOTCAMP */

.Bootcamp {
    width: 80%;
    height: 50%;
    margin: auto;
}

.bootcamps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-bootcamp{
    font-size: 40px;
    display: none;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.bootcamp {
    width: 100%;
    height: 80%;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, #0056D2, #588DF7);
    border-radius: 20px;
}

.left-side {
    color: white;
    height: 100%;
    width: 50%;
    margin-left: 2.3rem;
    margin-top: 5rem;
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.left-side h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.left-side h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.right-side {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.right-side img {
    height: 10cm;
    margin-bottom: 3rem;
    margin-left: 10rem;
}

.bootcamp button {
    height: 40px;
    width: 130px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: #0056D2;
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s;
}

.bootcamp button:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px -5px #0056D2;
}

/* FAQ */  /* FAQ */  /* FAQ */  /* FAQ */

.faq-section {
    width: 80%;
    margin: 250px auto;
}

.faq-header {
    text-align: center;
    margin-bottom: 20px;
}

.faq-header h1 {
    font-size: 40px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.faq-header p {
    font-size: 14px;
    color: #555;
    margin-bottom: 100px;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.faq-header a {
    color: #0056D2;
    text-decoration: none;
    font-weight: bold;
}

.faq-container {
    margin-top: 20px;
}

.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.faq-icon {
    font-size: 18px;
    font-weight: bold;
    color: #0056D2;
}

.faq-answer {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    display: none;
}

.faq-item.open .faq-answer {
    display: block;
}

.faq-item.open .faq-icon {
    content: "-";
}

/* FOOTER */  /* FOOTER */  /* FOOTER */  /* FOOTER */

.footer {
    background-color: #0056D2;
    color: #ffffff;
    padding: 50px 140px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.footer-logo img {
    width: 120px;
    cursor: pointer;
}

.footer-menu {
    display: flex;
    gap: 20px;
    position: relative;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.footer-menu a::after {
    content: "";
    height: 1px;
    width: 0;
    background: #ffffff;
    color: #0056D2;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease-in-out;
}

.footer-menu a:hover::after{
    width: 100%;
    left: 0;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-right {
    text-align: right;
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.footer-right p {
    margin: 0 0 10px;
}

.newsletter {
    display: flex;
    align-items: center;
}

.newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1f2e97;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #d1d1d1;
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #d1d1d1;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.footer-bottom p {
    text-align: center;
    margin: 0;
}

/* MEDIA RESPONSIVE */

/* HP */

@media (max-width: 390px) {
    body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* navbar */
    .navbar{
        margin-left: 25px;
        width: 65%;
    }
    .logo{
        margin-right: 50px;
    }
    .menu {
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: none;
    }
    /* navbar */

    /* hero */
    .hero{
        margin-bottom: 70px;
        text-align: center;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }
    .content{
        width: 87%;
        flex-direction: column;
        margin-left: 25px;
    }
    .text-title h1{
        font-size: 40px;
        width: 100%;
    }
    .text-title p{
        font-size: 13px;
        width: 100%;
    }
    .image img{
        display: none;
    }
    .footer-hero{
        margin-right: 20px;
    }
    .text-footer{
        flex-direction: column;
        text-align: center;
    }
    /* hero */

    /* About */
    .aboutUs-content{
        margin-bottom: 70px;
        margin-top: 300px;
        margin-left: 35px;
        width: 435px;
        flex-direction: column;
        text-align: center;
    }
    /* About */

    /* Course */
    .course{
        width: 422px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }
    .nav-course{
        margin-bottom: 35px;
        width: 422px;
        height: auto;
        position: static;
        margin-left: 20px;
        gap: 12px;
        overflow-x: scroll;
    }
    .main-container{
        margin: 0;
    }
    .java{
        margin-right: 15px;
    }
    .main-container{
        justify-content: center;
        width: 100%;
    }
    .card-row1, .card-row2{
        width: 422px;
        gap: 10px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding: 10px 0;
    }
    .card-row2::-webkit-scrollbar,
    .card-row1::-webkit-scrollbar{
        display: none;
        width: 100%;
    }
    .card1, .card2, .card3{
        flex: none;
        flex-direction: column;
        min-width: 300px;
    }
    .card1{
        margin-left: 700px;
    }
    .coba{
        margin: 0;
    }
    .card2{
        width: 200px;
    }
    /* Course */

    /* bootcamp */
    .Bootcamp{
        margin-top: -40px;
        margin-left: 60px;
        height: 70%;
    }
    .bootcamp{
        height: 375px;
        animation: fadeInUp linear;
        transition: 0.3s ease-in-out;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
    .title-bootcamp{
        margin-bottom: 30px;
        display: inline;
        width: 300px;
    }
    .left-side{
        animation: none;
    }
    .left-side h4{
        width: 210px;
        text-align: center;
    }
    .left-side h1{
        width: 215px;
        font-size: 25px;
        text-align: center;
    }
    .left-side button{
        width: 215px;
        align-items: center;
    }
    .right-side{
        display: none;
    }
    /* bootcamp */

    /* ourteam */
    .ourteam{
        margin-top: 200px;
        margin-left: 20px;
    }
    .ourteam::before{
        width: 421px;
    }
    .dev-cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }
    .dev-card1, .dev-card2, .dev-card3{
        animation: fadeInUp linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
        margin-top: 50px;
    }
    /* ourteam */

    /* FAQ */
    .faq-section{
        margin-top: -10px;
        margin-left: 20px;
        width: 100%;
    }
    /* FAQ */

    /* footer */
    .footer-container{
        flex-direction: column;
    }
    .footer{
        width: 395px;
        padding: 50px 30px;
    }
    .footer-menu{
        display: none;
    }
    .footer-right{
        animation: fadeInUp linear;
        animation-timeline: view();
        animation-range: entry 0% cover 10%;
        text-align: center;
        flex-direction: column;
    }
    .newsletter input{
        margin-right: 0;
    }
    .footer-right p{
        margin-top: 10px;
    }
    .footer-logo{
        display: none;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-links{
        margin-top: 10px;
    }
}

@media (min-width: 820px) and (max-width: 822px) {
    body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Navbar */
    .navbar {
        gap: 50px;
        margin: 20px auto;
        margin-left: 40px;
        width: 87%;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul{
        width: 150%;
    }
    .logo {
        margin-right: auto;
    }
    .menu {
        margin: 0px auto;
    }
    .navbar ul {
        gap: 5px;
    }
    .navbar ul li{
        margin: 0 10px;
    }
    .hero{
        width: 100%;
        margin-left: 40px;
    }
    .text-title h1{
        font-size: 40px;
    }
    .image img{
        width: 300px;
    }
    .footer-hero {
        margin: 0 auto;
    }
    .text-footer {
        flex-direction: column;
        text-align: center;
    }
    .aboutUs-content {
        width: 85%;
        margin: 50px auto;
        margin-left: 150px;
    }
    .aboutUs-text{
        text-align: start;
    }
    .aboutUs-logo img{
        width: 50px;
    }
    .Idn-Winners-Is p{
        text-align: end;
    }

    .course {
        width: 100%;
        margin: 70px auto;
        margin-left:45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-course {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        gap: 15px;
        overflow-x: auto;
    }
    .main-container {
        margin: 0;
        width: 100%;
    }
    .card-row1, .card-row2 {
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .card1, .card2, .card3 {
        flex: none;
        flex-direction: column;
        min-width: 250px;
        margin: 0 auto;
    }

    .Bootcamp {
        margin: 0 auto;
        margin-left: 45px;
        width: 100%;
    }
    .bootcamp {
        height: auto;
    }
    .title-bootcamp {
        margin-bottom: 20px;
        text-align: start;
    }
    .left-side{
        justify-content: center;
    }
    .left-side h4, .left-side h1{
        width: 100%;
        margin-right: 100px;
        text-align: start;
    }
    .right-side {
        width: 100%;
    }

    .ourteam {
        margin: 50px auto;
        width: 100%;
        margin-left: 45px;
    }
    .ourteam::before {
        width: 100%;
    }
    .dev-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
    }
    .dev-card1, .dev-card2, .dev-card3 {
        margin-top: 20px;
    }

    .faq-section {
        margin: 50px auto;
        margin-left: 45px;
        margin-bottom: 150px;
        width: 100%;
    }

    .footer-container{
        flex-direction: column;
    }
    .footer{
        width: 110%;
        margin-left: 80px;
        padding: 50px 30px;
    }
    .footer-menu{
        display: none;
    }
    .footer-right{
        animation: fadeInUp linear;
        animation-timeline: view();
        animation-range: entry 0% cover 10%;
        text-align: center;
        flex-direction: column;
    }
    .newsletter input{
        margin-right: 0;
    }
    .footer-right p{
        margin-top: 10px;
    }
    .footer-logo{
        display: none;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-links{
        margin-top: 10px;
    }
}


/* --- KEYFREAM --- */


@keyframes pop {
    from{
        transform: translateY(-15px);
    } to{
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(70px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}