*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}

.login-page{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0135AC;
}

.left{
    width: 60%;
    height: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left h1{
    font-size: 100px;
    position: absolute;

}
.h-1{
    top: 10rem;
    left: 10rem;
    rotate: -10deg;
    animation: rotate2 3s infinite ease-in-out;
}
.h-2{
    top: 11rem;
    left: 18rem;
    rotate: 10deg;
    animation: rotate 3s infinite ease-in-out;
    
}
.h-3{
    top: 17rem;
    left: 14rem;
    rotate: -10deg;
    animation: rotate2 3s infinite ease-in-out;

}
.h-4{
    top: 22rem;
    left: 16rem;
    rotate: 10deg;
    animation: rotate 3s infinite ease-in-out;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    animation: fadeInLeft 1s ease-in-out forwards;
}
.right-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.right-title img{
    width: 250px;
    height: 250px;
    padding-bottom: -100px;
    animation: fadeInDown 1s ease-in-out forwards;
}
.right-title h1{
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    position: absolute;
    top: 210px;
}
.right-title p{
    font-size: 15px;
    color: #00000060;
}
.login-form{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    animation: fadeInRight 1s ease-in-out forwards;

}
.login-form form{
    display: flex;
    flex-direction: column;
}
.login-form label{
    font-size: 17px;
    color: #000000;
    margin: 15px 0;
}
input{
    border: none;
    text-decoration: none;
    height: 40px;
    outline: none;
    font-size: 15px;
    border-bottom: solid 2px #000;
}
.remember-password{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.remember-password label{
    margin-left: 0.5rem;
}

button{
    outline: none;
    align-self: center;
    margin-top: 50px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #588DF7;
    border-radius: 6px;
    transition: 0.5s;
    width: 80%;
    height: 30px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 20px -5px #0056D2;
}


/* RESPONSIVE */

@media (max-width: 450px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    /* LEFT */
    .left{
        display: none;
    }
    /* RIGHT */
    .right{
        width: 100%;
        border-radius: 0;
        justify-content: center;
    }
    .right-title{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .right-title h1{
        position: static ;
        font-size: 30px;
    }
}

/* KEYFRAMES */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}