*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}

/* HERO */
/* HERO END */

/* COURSE */
/* COUSE END */

/* OUR TEAM */
/* OUR TEAM END */

/* BOOTCAMP */
/* BOOTCAMP END */